.container {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 0 3% 0;
}

.container img {
  object-fit: scale-down;
  width: 9vw;
  height: 3.1vw;
  margin-top: 3.5%;
}

.container h1 {
  font-size: 3.1vw;
  font-weight: bold;
  color: #f1efe7;
}

.container h2 {
  font-size: 1.55vw;
  font-weight: 500;
  color: #f1efe7;
}

.container label {
  color: #f1efe7;
  width: 36.8vw;
  margin-top: 3.4rem;
  font-size: 1.4vw;
  font-weight: 500;
}

.container textarea {
  background-color: #f1efe7;
  width: 36.8vw;
  height: 14vw;
  border: 1px solid #000;
  border-radius: 23px;
  padding: 1rem;
  resize: none;
  box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
  outline: none;
  margin: 0.6rem 0 2rem 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5.5vw;
}

.buttons button,
.buttons button.noRec {
  width: 5vw;
  height: 5vw;
  background-color: #242422;
  border-radius: 50%;
  border: none;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  color: #f1efe7;
  padding: 0.6vw;
}

.buttons button:hover {
  color: #ffffff;
  background-color: #85754d;
}

.buttons button.rec {
  color: #ed1f1f;
  background-color: #f1efe7;
}

.buttons svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 20% 2.8rem 2% 2.8rem;
    width: 100%;
    min-height: 100vh;
  }

  .container h1 {
    font-size: 11vw;
  }

  .container h2 {
    font-size: 5.4vw;
  }

  .container label {
    text-align: center;
    font-size: 4.8vw;
    width: 18.8rem;
  }

  .container textarea {
    width: 100%;
    min-height: 12.5rem;
  }

  .buttons {
    flex-wrap: wrap;
  }

  .buttons button,
  .buttons button.noRec {
    width: 15vw;
    height: 15vw;
    margin: 5%;
  }

  .buttons svg {
    width: 70%;
    height: 70%;
  }

  .container img {
    object-fit: scale-down;
    width: 25vw;
    height: 10vw;
    margin-top: auto;
  }
}
